<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.security.test.demo.dal.Resource.ResourceServiceMapper">

    <resultMap id="ResourceMap" type="com.spring.security.test.demo.bean.ResourceModel">
        <id column="role_code" property="roleCode" jdbcType="INTEGER"/>
        <result column="resource_id" property="resourceId" jdbcType="VARCHAR"/>
        <result column="resource_name" property="resourceName" jdbcType="VARCHAR"/>
        <result column="uri" property="uri" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="ManagerMap" type="com.spring.security.test.demo.bean.ManagerRoleModel">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="manager" property="manager" jdbcType="VARCHAR"/>
        <result column="pwd" property="pwd" jdbcType="VARCHAR"/>
        <result column="manager_id" property="managerId" jdbcType="VARCHAR"/>
        <result column="role_code" property="roleCode" jdbcType="INTEGER"/>
    </resultMap>

    <!--******************查询权限资源节点********************-->
    <select id="getRoleId" resultMap="ResourceMap" resultType="java.util.List">
        SELECT
        omrr.resource_code resourceCode,
        omrr.role_code roleCode,
        omr.resource_name resourceName,
        omr.uri uri
        FROM
        olayc_mis_role_resource omrr
        LEFT JOIN
        olayc_mis_resource omr on omr.resource_code=omrr.resource_code
        WHERE
        1=1
        <if test="roleCode != null">
            and omrr.role_code = #{roleCode}
        </if>
    </select>
     <!--************************* 查询角色id************************-->
    <select id="selectRoleCode" resultMap="ManagerMap" resultType="java.util.List">
        SELECT
        omm.id id,
        omm.manager manager,
        ommr.manager_id manager_id,
        ommr.role_code role_code
        FROM
        olayc_mis_manager omm
        LEFT JOIN
        olayc_mis_manager_role ommr on omm.id=ommr.manager_id
        WHERE
        1=1
        <if test="manager != null and manager=''">
            and  omm.manager = #{manager}
        </if>
    </select>
</mapper>